// ----- Logo --------------------
.a-logo {
    display: block;

    svg {
        height: auto;
        width: 100%;

        //TODO: Update with client class name or remove along with SVG if not applicable
        .gh {
            fill: var(--gh);
        }
    }
}
