# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript, TypeScript, and React files
[*.{js,jsx,ts,tsx}]
quote_type = double
ij_javascript_use_double_quotes = true
ij_typescript_use_double_quotes = true
bracket_spacing = true
jsx_bracket_same_line = false
print_width = 100

[*.scss]
quote_type = double
ij_scss_use_double_quotes = true
ij_css_use_double_quotes = true
indent_size = 4

# PHP files
[*.php]
indent_size = 4
brace_style = allman
