# Project
COMPOSE_PROJECT_NAME=murr-website
PHP_VERSION=8.1
NODE_VERSION=16
NODE_WATCH_PORT=3000

# NGINX
NGINX_PORT=80
NGINX_SERVER_NAME=murr.docker.localhost
NGINX_ROOT=/var/www/html/web

# MySQL
MYSQL_HOST=mysql
MYSQL_USER=bedrock
MYSQL_PASSWORD=secret
MYSQL_DATABASE=bedrock
MYSQL_ROOT_PASSWORD=secret

# Private Composer Auth
GH_COMPOSER_USERNAME=garrisonhughes
GH_COMPOSER_PASSWORD=<secret>
GH_BITBUCKET_KEY=<secret>
GH_BITBUCKET_SECRET=<secret>
