//-- Form Base ----------------------------------
//-- Manage Global Form styles and is designed to work with input atoms.

// @use "sass:color";
// @use "@styles/global/variables" as vars;
// @use "@styles/global/mixins" as mix;

input {
    line-height: normal;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="file"],
textarea,
select {
    background-color: var(--form-bg-color);
    border: 1px solid transparent;
    border-radius: var(--wp--custom--forms--border-radius);
    color: var(--foreground);
    line-height: 1.15;
    padding: var(--wp--custom--forms--input-padding-vertical) var(--wp--custom--forms--input-padding-horizontal);
    position: relative;
    width: 100%;

    &:focus {
        border: var(--wp--custom--forms--border-width) solid var(--form-color-primary);
        outline: 0;
    }

    &::placeholder {
        color: var(--foreground);
        opacity: 0.75;
    }

    &::-webkit-file-upload-button {
        visibility: hidden;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.o-form {
    &--reversed {
        .a-input-field {
            &__placeholder-text {
                color: var(--background);
            }
        }

        .a-input-field__input {
            background-color: var(--background);
            border-color: var(--primary);
        }
    }
}
