// ----- Components --------------------
// - c-skipnav
.c-skipnav {
    background-color: var(--background);
    border: 2px solid var(--foreground);
    clip: rect(0 0 0 0);
    color: var(--foreground);
    height: 1px;
    letter-spacing: .15ch;
    margin: -1px;
    overflow: hidden;
    padding: 1rem 2rem;
    position: absolute;
    text-decoration: none;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    white-space: nowrap;
    width: 1px;

    &:focus {
        clip: auto;
        height: auto;
        left: 2rem;
        margin: 0;
        outline: none;
        overflow: visible;
        position: absolute;
        top: 5rem;
        width: auto;
        z-index: 10;
    }

    &:hover {
        background-color: var(--foreground);
        border: 2px solid var(--background);
        color: var(--background);
    }
}
