// Manage colors for light & dark mode
:root {
    --background: #f9f8f6;
    --foreground: #2c2a29;
    --primary: #1a1918;
    --primary-750: rgba(26, 25, 24, 0.75);
    --primary-500: rgba(26, 25, 24, 0.5);
    --secondary: #005b7a;
    --secondary-500: rgba(0, 91, 122, 0.5);
    --secondary-light: rgba(230, 225, 218, 0.65);
    --tertiary: #ebe7e0;
    --tertiary-500: rgba(235, 231, 224, 0.5);
    --quaternary: #b64200;
    --quaternary-500: rgba(182, 66, 0, 0.5);
    --form-color-primary: #005b7a;
    --form-bg-color: #e6e1da;
    --error: #b3264f;
    --white: #fff;
    //Theme button palette
    --primary-btn: var(--secondary);
    --primary-btn-500: var(--secondary-500);
    --secondary-btn: var(--primary);
    --secondary-btn-500: var(--primary-500);
    //Theme font-families
    --font-family-headline: Georgia, serif;
    --font-family-body: verdana, sans-serif;
    //Theme logo credit
    --mk-brand: var(--primary);

    @media screen and (prefers-color-scheme: dark) {
        --background: #1c1b1a;
        --foreground: #f2f0ec;
        --primary: #f2f0ec;
        --primary-750: rgba(242, 240, 236, 0.75);
        --primary-500: rgba(242, 240, 236, 0.5);
        --secondary: #3ca6c9;
        --secondary-500: rgba(60, 166, 201, 0.5);
        --secondary-light: rgba(230, 225, 218, 0.65);
        --tertiary: #2b2927;
        --tertiary-500: rgba(43, 41, 39, 0.5);
        --quaternary: #e06b2d;
        --quaternary-500: rgba(224, 107, 45, 0.5);
        --form-color-primary: #3ca6c9;
        --form-bg-color: #302e2b;

        --error: #e05a7d;

        //Theme logo credit
        --mk-brand: var(--secondary);
    }
}
