// Manage colors for light & dark mode
:root {
    --background: #f9f8f6;
    --foreground: #2c2a29;
    --primary: #1a1918;
    --primary-750: rgba(26, 25, 24, 0.75);
    --primary-500: rgba(26, 25, 24, 0.5);
    --secondary: #005b7a;
    --secondary-500: rgba(0, 91, 122, 0.5);
    --secondary-light: rgba(230, 225, 218, 0.65);
    --tertiary: #ebe7e0;
    --tertiary-500: rgba(235, 231, 224, 0.5);
    --quaternary: #b64200;
    --quaternary-500: rgba(182, 66, 0, 0.5);
    --form-color-primary: #005b7a;
    --form-bg-color: #e6e1da;
    --error: #b3264f;
    --white: #fff;
    //Theme button palette
    --primary-btn: var(--secondary);
    --primary-btn-500: var(--secondary-500);
    --secondary-btn: var(--primary);
    --secondary-btn-500: var(--primary-500);
    //Theme font-families
    --font-family-headline: Georgia, serif;
    --font-family-body: verdana, sans-serif;
    //Theme logo credit
    --mk-brand: var(--primary);

    @media screen and (prefers-color-scheme: dark) {
        --background: #1a1918;
        --foreground: #ebe7e0;
        --primary: #2d2b2a;
        --primary-500: rgba(235, 231, 224, 0.5);
        --secondary: #5cd6ff;
        --secondary-500: rgba(92, 214, 255, 0.5);
        --secondary-light: rgba(235, 231, 224, 0.12);
        --tertiary: #ebe7e0;
        --tertiary-500: rgba(92, 214, 255, 0.35);
        --quaternary: #ff945e;
        --quaternary-500: rgba(255, 148, 94, 0.5);
        --form-color-primary: #5cd6ff;
        --form-bg-color: #2d2b2a;
        //Theme logo credit
        --mk-brand: var(--secondary);
    }
}
