# Project
# PHP_VERSION=8.2
# NODE_VERSION=18
# NODE_WATCH_PORT=3000

# # Pro Tokens
# ACF_PRO_KEY=<secret>
# FONTAWESOME_NPM_AUTH_TOKEN=<secret>
# WP_PLUGIN_GF_KEY=<secret>

# # Private Composer Auth
# GH_COMPOSER_USERNAME=garrisonhughes
# GH_COMPOSER_PASSWORD=<secret>
# GH_BITBUCKET_KEY=<secret>
# GH_BITBUCKET_SECRET=<secret>
