// Author Dependencies
@use "global/custom-properties";
@use "global/bootstrap";
@use "global/components";
@use "global/reboot";
@use "global/layouts";
@use "global/typography";

// Atoms
@use "atoms/button";
@use "atoms/icon";
@use "atoms/image";
@use "atoms/inputs";
@use "atoms/logo";

// Molecules
@use "molecules/card";
// @use "molecules/loading";

// Blocks
@use "blocks/blocks-core";

// Forms
@use "forms/form-base";
@use "forms/form-search";

// Organisms
@use "organisms/card-grid";
@use "organisms/footer";
@use "organisms/header";

html,
body {
    scroll-behavior: smooth;
    width: 100%;

    &.overflow-hidden {
        overflow: hidden;
    }
}
