@use "../../styles/global/bootstrap" as *;

.o-newsletter {
    &__col {
        > h1,
        > h2,
        > h3 {
            align-items: center;
            display: flex;
            gap: 1.25rem;
            margin-bottom: 1.5rem;
            position: relative;

            &::before {
                background-color: currentColor;
                content: "";
                height: 4.5rem;
                mask-image: url("@images/gh-form-icon-news.svg");
                width: 4.5rem;
            }
        }
    }
}

//if newsletter is nested inside group with a background color
.has-background {
    .o-newsletter {
        input[type="date"],
        input[type="time"],
        input[type="datetime-local"],
        input[type="week"],
        input[type="month"],
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="tel"],
        input[type="number"],
        input[type="file"],
        textarea,
        select {
            background-color: var(--background);
        }

        div.gform_confirmation_message {
            color: var(--background);
            font-size: 1.5rem;
        }
    }
}
