@use "@styles/global/bootstrap";

.o-masthead {
    position: relative;
    width: 100%;

    &__background {
        width: 100%;
        height: 100%;
        @include bootstrap.aspect(16, 9);
        @include bootstrap.layer("base", 1, relative);

        img,
        video {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &--embedded &__background {
        overflow: hidden;

        iframe {
            width: 100vw;
            height: 56.25vw;
            min-height: 100%;
            min-width: 177.77vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--has-overlay &__overlay {
        width: 100%;
        height: 100%;
        background: var(--foreground);
        @include bootstrap.layer("base", 2, absolute);
    }

    &__content {
        @include bootstrap.layer("base", 3);
        margin: 0 auto;
        max-width: var(--wp--style--global--wide-size);
        padding: 1.25rem;
        width: 100%;

        > * {
            margin: 0 auto;
        }

        @include bootstrap.media("wide+") {
            padding: 0;
        }

        @include bootstrap.media("tablet+") {
            > * {
                // max-width: 40rem;
                text-wrap: pretty;
            }
        }

        @include bootstrap.media("mobile") {

            //if text color is white change it to foreground variable
            .has-background-color.has-text-color {
                color: var(--foreground) !important;
            }
        }
    }

    @include bootstrap.media("mobile+") {
        display: flex;
        align-items: center;
        height: 80vh;
        min-height: 640px;

        &__background {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;

            @at-root .wp-admin & {
                left: 0;
                width: 100%;
            }
        }

        &--embedded &__background iframe {
            top: 0;
            transform: translate(-50%, 0);
        }
    }
}
